<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/"><strong>RSS</strong></a>
        {{#if user}}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Subscriptions</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {{#each feeds}}
                  <form class="form-inline" action="unsubscripe" method="post">
                    <input type="hidden" name="feed_id" value="{{id}}">
                    <button class="dropdown-item btn btn-outline-danger" type="submit">{{title}}</button>
                  </form>
                {{/each}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#subscripeModal">Add</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-auto" action="search" method="get">
            <input class="form-control mr-sm-2" type="search" name="url" value="{{url}}" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.name}}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <form class="form-inline" action="logout" method="post">
                  <button class="dropdown-item btn btn-outline-secondary" type="submit">Logout</button>
                </form>
              </div>
            </li>
          </ul>
        {{else}}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#" data-toggle="modal" data-target="#registerModal">Register</a>
            </li>
          </ul>
          <form class="form-inline" action="login" method="post">
            <input class="form-control" type="email" name="email" placeholder="E-Mail" aria-label="E-Mail" autofocus>
            <input class="form-control" type="password" name="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-primary" type="submit">Login</button>
          </form>
        {{/if}}
      </nav>
    </div>
  </header>
  {{#if user}}
    <div class="modal fade" id="subscripeModal" role="dialog" aria-labelledby="subscripeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="subscripeModalLabel">Subscripe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="subscripe" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="url">URL:</label>
                <input class="form-control" type="url" id="url" name="url" autofocus>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Subscripe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{else}}
    <div class="modal fade" id="registerModal" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="register" method="post">
            <div class="modal-body">
              {{#if betakey.env}}
                <div class="form-group">
                  <label for="betakey">Betakey:</label>
                  <input class="form-control" type="password" id="betakey" name="betakey" value="{{betakey.query}}">
                </div>
              {{/if}}
              <div class="form-group">
                <label for="betakey">Name:</label>
                <input class="form-control" type="text" id="name" name="name" autofocus>
              </div>
              <div class="form-group">
                <label for="betakey">E-Mail:</label>
                <input class="form-control" type="email" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="betakey">Password:</label>
                <input class="form-control" type="password" id="password" name="password">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{/if}}
  {{#each flashs.error}}
  <div class="container">
    <div class="alert alert-danger" role="alert">
      {{this}}
    </div>
  </div>
  {{/each}}
  {{#each flashs.success}}
  <div class="container">
    <div class="alert alert-success" role="alert">
      {{this}}
    </div>
  </div>
  {{/each}}
  <main role="main">
    {{{body}}}
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
