{{#if feed_items.length}}
  <div class="py-5">
    <div class="container">
      <form action="readall" method="post">
        <button class="btn btn-primary" type="submit">
          Mark all as read
          <span class="badge badge-light">{{feed_items.length}}</span>
        </button>
      </form>
      <br/>
      <div class="row">
        {{#each feed_items}}
          <div class="col-md-4">
            <a href="{{{link}}}">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{image}}" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
                  <small class="card-subtitle mb-2 text-muted">{{categories}}</small>
                  <p class="card-text">{{description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{lookup (lookup ../feeds feed_id) 'title'}}</small>
                    <small class="text-muted">{{formatRelative pub_date}}</small>
                    <form action="read" method="post">
                      <input type="hidden" name="feed_item_id" value="{{id}}">
                      <button class="btn btn-primary" type="submit">Mark as read</button>
                    </form>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
      <br/>
      <form action="readall" method="post">
        <button class="btn btn-primary" type="submit">
          Mark all as read
          <span class="badge badge-light">{{feed_items.length}}</span>
        </button>
      </form>
    </div>
  </div>
{{else}}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">All read</h1>
    </div>
  </section>
{{/if}}
